.v-slot .good-looking-button {
	width: 100px;
	height: 40px;

	vertical-align: middle;
	padding-top: 8px;

	border: 1px solid rgb(247, 247, 247);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

  	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  	
  	cursor: pointer;
}

.v-slot .good-looking-button:hover,
.v-slot .good-looking-button:focus,
.v-slot .good-looking-button:active {
	background-color: rgb(202, 255, 98);
  
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.v-slot .editor-next-button {
  	background-color: rgb(102, 255, 98);
}

.v-slot .editor-next-button:hover,
.v-slot .editor-next-button:focus,
.v-slot .editor-next-button:active {
	background-color: rgb(202, 255, 98);
}

.v-slot .editor-next-button .v-button-caption,
.v-slot .editor-previous-button .v-button-caption,
.v-slot .editor-finish-button .v-button-caption {
  	color: white;
  	text-shadow: none;
}

.v-slot .editor-previous-button {
	background-color: rgb(245, 110, 177);
}

.v-slot .editor-previous-button:hover,
.v-slot .editor-previous-button:focus,
.v-slot .editor-previous-button:active {
	background-color: rgb(224, 101, 162);
}

.v-slot .editor-finish-button {
	background-color: rgb(152, 157, 255);
}

.v-slot .editor-finish-button:hover,
.v-slot .editor-finish-button:focus,
.v-slot .editor-finish-button:active {
	background-color: rgb(98, 106, 255);
}

.v-slot .add-keyword-button {
  	background-color: rgb(102, 255, 98);
  	color: white;
}

.v-slot .add-keyword-button .v-button-caption {
  	color: white;
  	text-shadow: none;
}
  	
.v-slot .add-keyword-button:hover,
.v-slot .add-keyword-button:focus,
.v-slot .add-keyword-button:active {
	background-color: rgb(202, 255, 98);
}

.keyword-component-style {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: rgb(236, 236, 236);
	border: 1px solid rgb(178, 178, 179);
	padding-left: 10px;
	line-height: 21px;
}

.v-slot .x-button.v-button {
	background-image: url("./graphics/x-button.png") !important;
	background-repeat: no-repeat;
	background-size: 60%;
	background-color: rgb(197, 181, 186);
	background-position: center;
}

.editor-content-style {
	min-height: 350px;	
}
