@import "../reindeer/legacy-styles.css";
/* @import "../valo/styles.css"; */

.v-app {
	background: white;
}

.twitter-guards-menu {
	margin-top: 34px;
	margin-bottom: 34px;	
}

.twitter-guards-menu > .v-expand {
  background-color: rgba(237, 237, 237, 0.41);
  border-top: 1px solid rgba(207, 207, 207, 0.3);
  border-bottom: 1px solid rgba(207, 207, 207, 0.3);
}

.twitter-guards-menu .logo-style {
	position: relative;
	top: -20px;
}

.twitter-guards-menu .menu-icon {
  	background-size: contain;
  	background-repeat: no-repeat;
  	background-position: center;
  	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-ms-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	transition: background 0.5s ease;
}

.twitter-guards-menu .menu-icon {
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-ms-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	transition: background 0.5s ease;
	cursor: pointer;
}

.user-icon {
	background-image: url("./graphics/user-inactive.png");
}

.user-icon:hover {
	background-image: url("./graphics/user-active.png");
}

.timeline-icon {
	background-image: url("./graphics/icon-timeline-inactive.png");
}

.timeline-icon:hover {
	background-image: url("./graphics/icon-timeline-active.png");
}

.overview-icon {
	background-image: url("./graphics/icon-overview-inactive.png");
}

.overview-icon:hover {
	background-image: url("./graphics/icon-overview-active.png");
}
