<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:pl/edu/agh/iosr/twitter/twitter-guards.properties"/>
    <context:annotation-config/>

    <import resource="camel/camel-config.xml"/>
    <import resource="ranker-spring-config.xml"/>

    <bean id="camelRoutesManager" class="pl.edu.agh.iosr.twitter.route.CamelRoutesManager"/>

    <bean id="toLogProcessor" class="pl.edu.agh.iosr.twitter.processor.TweetToLogProcessor"/>

    <bean id="tweetRankProcessor" class="pl.edu.agh.iosr.twitter.processor.TweetRankProcessor">
        <property name="ranker" ref="def-ranker"/>
    </bean>
</beans>